<h1> <%= @registered_application.name %> </h1>
<h3> Total Event Count: <%= @registered_application.events.count %> </h3>
<br>
<div>
    <table class="table table-responsive">
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="app-name"><%= event[0] %> </td>
          </tr>
        <% end %>
        <tr>
          <td class="pie-chart"> <%= pie_chart @registered_application.events.group(:name).count, id: "events-chart", width: "600px", height: "500px" %> </td>
          <td class="line-chart"> <%= line_chart @registered_application.events.group_by_day(:created_at).count, id: "time-chart", width: "800px", height: "500px" %> </td>
        </tr>
      </tbody>
    </table>
</div>
