<h1> <%= current_user.email %></h1>
<div>
    <table class="table table-responsive">
      <tbody>
        <% current_user.registered_applications.each do |registered_application| %>
          <tr>
            <td class="app-name"><%= link_to registered_application.name, registered_application_path(registered_application.id) %></td>
            <td class="app-name"><%= registered_application.url %></td>
            <td><%= link_to "Remove", [@User, registered_application], method: :delete, class: "btn btn-danger remove-spacing" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div>
  <%= link_to "New APP", new_registered_application_path(@User), class: 'btn btn-success' %>
</div>
